.registration {
  background: darkgrey;
  color: white;
  border-radius: 1em;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
  &-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & .input {
      width: 100%;
    }
  }
}
