<div class="auth">
  <form [formGroup]="authForm"
        (submit)="login()">
    <mat-form-field>
      <input type="email"
             matInput
             placeholder="Email"
             formControlName="email"
             required>
    </mat-form-field>
    <mat-form-field>
      <input type="password"
             matInput
             placeholder="Password"
             formControlName="password"
             required>
    </mat-form-field>
    <button mat-button color="primary" type="submit">Sing In</button>
  </form>
  <button mat-button color="success" type="button" [routerLink]="['/registration']">Registration</button>
</div>
