<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <div *ngFor="let interview of interviewList; index as i">
        <div class="sidenav-item" *ngIf="i !== currentIndexEditInterview">
          <a mat-list-item
             class="link"
             [routerLink]="['/questionnaire/interview', i]">
            {{interview.name}}
          </a>
          <button mat-icon-button type="button" (click)="createFormEditNameInterview(i)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div class="sidenav-item-edit" *ngIf="i === currentIndexEditInterview">
          <mat-form-field class="input">
            <input matInput
                   type="text"
                   [formControl]="editNameInterviewForm"
                   placeholder="Введите название"
                   required>
          </mat-form-field>
          <button mat-icon-button type="button" color="primary" (click)="editNameInterview()">
            <mat-icon>save</mat-icon>
          </button>
          <button mat-icon-button type="button" color="warn" (click)="deleteInterview()">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <div class="sidenav-item-add" *ngIf="newInterviewControl">
        <mat-form-field class="input">
          <input matInput
                 type="text"
                 [formControl]="newInterviewControl"
                 placeholder="Введите название"
                 required>
        </mat-form-field>
        <button mat-icon-button type="button" color="primary" *ngIf="newInterviewControl" (click)="createInterview()">
          <mat-icon>save</mat-icon>
        </button>
      </div>
      <button mat-button
              class="add-btn"
              *ngIf="customUser.roles.manager && !newInterviewControl"
              (click)="addNewInterview()">
        Добавить новое интервью
      </button>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Test KT-Ukraine</span>
      <div class="flex-spacer"></div>
      <button mat-button type="button" (click)="logout()">Выйти</button>
    </mat-toolbar>
    <div class="questionnaire">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
