<div class="interview">
  <div class="interview-questions" *ngIf="questions.length && !customUser.roles.manager">
    <form [formGroup]="interviewForm">
      <mat-form-field class="input" *ngFor="let question of questions; index as i">
        <input matInput
               [type]="question.type"
               [formControlName]="i"
               [placeholder]="question.value">
      </mat-form-field>
      <button type="reset" color="warn" mat-button>Сброс</button>
      <button type="button" color="primary" mat-button (click)="sendAnswers()">Отправить</button>
    </form>
  </div>
  <div class="interview-edit-questions" *ngIf="questions.length && customUser.roles.manager">
    <form class="form" [formGroup]="form" *ngFor="let form of editInterviewForm; index as i">
      <mat-form-field class="form-input">
        <input matInput
               type="text"
               formControlName="value"
               placeholder="Введите вопрос"
               required>
      </mat-form-field>
      <mat-form-field class="form-input">
        <mat-select placeholder="Выберите тип поля" formControlName="type" required>
          <mat-option [value]="type.value" *ngFor="let type of types">{{type.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-input">
        <input matInput
               type="text"
               formControlName="mask"
               placeholder="Введите валидацию поля">
      </mat-form-field>
      <button type="button" color="primary" mat-icon-button (click)="saveQuestion(i, form)">
        <mat-icon>save</mat-icon>
      </button>
      <button type="reset" color="warn" mat-icon-button (click)="deleteQuestion(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </form>
    <div class="new-string"></div>
    <button type="button" color="primary" mat-button (click)="addNewQuestion()">Добавить вопрос</button>
  </div>
</div>
